* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body , .container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-image: url(./design/background.jpg);
    background-size: cover;
    background-attachment: local;
    font-family: 'Ubuntu', sans-serif;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 50px;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar"
      "headshot introduction introduction"
      "about-me projects projects"
      "contact contact contact"
      "footer footer footer";
    grid-auto-rows: 100px;
    margin: 0 0 !important;
    padding: 0 !important;
    min-width: 100%;
    scroll-behavior: smooth;
    opacity: .92;
}
  
.navbar { 
    grid-area: navbar; 
    overflow: hidden;
    position: relative;
    min-width: 100vh;
}

nav {
    min-width: 100%;
    margin: 0;

}

nav a {
    color: rgb(0,255,252);
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 28px;
}



/* intro */
.headshot { 
    grid-area: headshot; 
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.pic {
    background-color: #006f9d;
    border: 8px solid #1a546c;
    padding: 10px;
    box-shadow: 15px 14px #00365c;
    border-radius: 8%;
    transition: all .2s ease-in-out;
}


.pic:hover {
    transform: scale(1.1)
}

.pic img {
    border-radius: 2%;
}

.introduction { 
    grid-area: introduction; 
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.introduction img {
    height: 80px;
}

#introduction-card {
    max-width: 600px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #006f9d;
    border: 8px solid #1a546c;
    padding: 25px;
    box-shadow: 15px 14px #00365c;
    color: white;
    border-radius: 8%;
    transition: all .2s ease-in-out;
}

#introduction-card:hover {
    transform: scale(1.1)
}

.introduction h2 {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 54px;
}

.intro-box {
    display: inline;
}

.intro-box img {
    float: right;
}

/* projects */
.projects { 
    grid-area: projects; 
    min-height: 800px;
    overflow: hidden;
    width: 100%;
}

.card {
    padding: 20px 10px;
    margin: 10px;
    left: 25%;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.05)
}

.btn-primary {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}
/* about me */
.about-me { 
    grid-area: about-me; 
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    transition: all .2s ease-in-out;
}

.about-me:hover {
    transform: scale(1.1)
}

#blurb {
    background-color: #006f9d;
    border: 8px solid #1a546c;
    padding: 25px;
    text-align: center;
    box-shadow: 15px 14px #00365c;
    color: white;
    border-radius: 8px;
}

/* contact */
.contact { 
    grid-area: contact; 
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 35px;
}

.contact-blurb {
    background-color: #006f9d;
    border: 8px solid #1a546c;
    padding: 25px;
    box-shadow: 15px 14px #00365c;
    color: white;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.contact-blurb:hover {
    transform: scale(1.05)
}


.contact-info {
    background-color: #006f9d;
    border: 8px solid #1a546c;
    padding: 25px;
    box-shadow: 15px 14px #00365c;
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.contact-info:hover {
    transform: scale(1.05)
}

/* footer */
.footer { 
    grid-area: footer; 
    background-color: #1a2930;
    box-sizing: border-box;
    margin-top: -50px;
}

.icons {
    grid-column: 1 / span;
    grid-row: 4 / span 1;
    grid-area: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* screen resize */

@media screen and (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
        min-height: 100%;
    }
    .container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 50px;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "navbar"
        "introduction"
        "headshot"
        "about-me"
        "projects"
        "contact"
        "footer";
        max-width: 100%;
        min-height: 100%;
        display: block;
    }
    
    img {
        max-width: 100%;
    }

    .navbar {  
        grid-area: navbar;
        width: 100vw;
        min-height: 50px;
    }

    .introduction { 
        grid-area: introduction; 
        width: 100vw; 
    }

    .into-box {
        text-align: left;
    }

    .footer { 
        grid-area: footer; 
        width: 100vw;
    }

    .contact { 
        grid-area: contact; 
        width: 100vw;
    }

    .projects { 
        grid-area: projects;
        overflow: hidden;
        justify-content: center;
        width: auto;
        height: auto;
    }


    .about-me { 
        grid-area: about-me;
        width: 100vw; 
        height: auto;
        overflow: hidden;
    }

    .footer {
        grid-area: footer;
        min-height: 100px;
        overflow: hidden;
    }

    .headshot { 
        grid-area: headshot;
        width: 100vw; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
      
}